#favorites.row
  %h3="#{@name} on mixcloud"
  %br
  - @cloudcasts.each do |cloudcast|
    .favorite.span6
      .inner.row
        .span2.image
          %a{:href => "/cloudcast?key=#{cloudcast['key']}"}
            %img{:class => 'avatar', :src => cloudcast["pictures"]["large"]}
        .span4.meta
          %h4
            %a{:href => "/cloudcast?key=#{cloudcast['key']}"}=cloudcast["name"]
            &nbsp;By 
            %a{:class => 'dj', :href => cloudcast['user']['url']}= cloudcast['user']['name']
          %p
            =haml :"_tags", :layout => false, :locals => { :tags => cloudcast['tags'] }
          %ul
            %li.listeners{:title => "#{cloudcast['listener_count']} listeners"}= cloudcast['listener_count']
            %li.plays{:title => "#{cloudcast['play_count']} plays"}= cloudcast['play_count']
            %li.comments{:title => "#{cloudcast['comment_count']} comments"}= cloudcast['comment_count']
            %li.favorites{:title => "#{cloudcast['favorite_count']} favoriters"}= cloudcast['favorite_count']
            %li.length{:title => "#{(cloudcast['audio_length'].to_i/60.0).round(1)} minutes"}= "#{(cloudcast['audio_length'].to_i/60.0).round(1)}m"
