!!!

%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Mixtube

    %link{:rel=>"shortcut icon", :href => "favicon.png"}
    %link{:rel=>"stylesheet", :href => "/stylesheets/style.css"}
    %link{:rel=>"stylesheet", :href => "/stylesheets/bootstrap.css"}
    %link{:rel=>"stylesheet", :href => "/stylesheets/prettify.css"}
    %link{:rel=>"stylesheet", :href => "/stylesheets/facebox.css"}
    %link{:rel=>"stylesheet", :href => "/stylesheets/application.css"}

    %script{:src=>"javascripts/jquery.js"}
    %script{:src=>"javascripts/jquery.tablesorter.min.js"}
    %script{:src=>"javascripts/jquery.tmpl.js"}
    %script{:src=>"javascripts/jquery.carouFredSel.js"}
    %script{:src=>"javascripts/facebox.js"}
    %script{:src=>"javascripts/application.js"}
    %script{:src=>"javascripts/prettify.js"}
    %script{:src=>"javascripts/script.js"}
    :javascript
      $.facebox.settings.closeImage = '/images/closelabel.png'
      $.facebox.settings.loadingImage = '/images/loading.gif'
      $(document).bind('afterClose.facebox', function() {
        $('#facebox iframe').remove();
      });

  %body
    #page_wrapper
      - if flash[:notice]
        .flash= flash[:notice]
      #main
        .header
          %h1
            %a{:href => '/'} Mixtube 
        %ul.nav
          %li{:class => "#{'current' if @nav==:new}"}
            %a{:href => '/new'} NEW
          %li{:class => "#{'current' if @nav==:hot}"}
            %a{:href => '/hot'} HOT
          %li{:class => "#{'current' if @nav==:popular}"}
            %a{:href => '/popular'} POPULAR
          %li{:class => "#{'current' if @nav==:favorites}"}
            %a{:href => '/favorites'} FAVORITES
        .window
          .record
        = yield
      #footer
        .inner
          .container
